@import url("https://fonts.googleapis.com/css?family=Actor");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro");

/*------------------------------------
# GLOBAL
------------------------------------*/
* {
  box-sizing: border-box;
  line-height: 1.4em;
  max-width: 100%;
}

html {
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;
  width: 100vw;
  max-width: 100vw;
  background-color: whitesmoke;
  text-align: left;
  font-family: "Actor";
  font-size: 18px;
  padding: 50px 5vw;
  margin: 0px;
  overflow: hidden scroll;
}

header,
.content,
.section,
footer {
  padding-top: 30px;
  width: 90vw;
}

nav {
  background: black;
  color: white;
  position: fixed;
  top: 0px;
  right: 10px;
  padding: 10px;
  text-align: center;
}
nav a {
  color: white;
}

.section {
  padding-left: 25px;
  padding-right: 25px;
}

footer {
  display: flex;
  justify-content: flex-end;
}

/*------------------------------------
# TEXT
------------------------------------*/
h1,
h2 {
  text-align: center;
}
header h2 {
  text-decoration: none;
}

h2 {
  text-decoration: underline;
}

h3 {
  text-align: left;
  text-transform: uppercase;
  color: darkslategrey;
}
/* h3:before {
  content: "[";
}
h3:after {
  content: "]";
} */

h4,
h5,
h6 {
  text-align: left;
  text-transform: uppercase;
  color: green;
}
/* h4:before {
  content: "*";
}
h4:after {
  content: "*";
} */

.table-of-contents {
  margin-left: 50px;
  border-left: 1px solid black;
}

/* p {
  margin-left: 25px;
  margin-right: 25px;
} */

code {
  color: brown;
  background-color: #80808025;
  border-radius: 3px;
  padding: 0px 5px;
  margin: 0px 2px;
}

.note {
  color: grey;
}
li.note {
  list-style-type: circle;
}
.note code {
  color: #a52a2aaa;
}
/*------------------------------------
# CUSTOM DISPLAY CLASSES
------------------------------------*/
.center {
  text-align: center;
}
.spacer {
  height: 25px;
}

.grid {
  margin: 10px 0px;
  display: grid;
  width: 100%;
  gap: 7px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
}

.row .image {
  text-align: right;
}
.row {
  display: flex;
}
.column2 {
  flex: 50%;
  padding: 5px;
}
.column_3-2 {
  flex: 66.66%;
  padding: 5px;
}
.column_3 {
  flex: 33.33%;
  padding: 5px;
}
.column_4 {
  flex: 25%;
  padding: 5px;
}
.column_5 {
  flex: 20%;
  padding: 5px;
}

/*------------------------------------
# COMPONENTS
------------------------------------*/
.image {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  text-align: center;
  vertical-align: middle;
  margin: 10px;
  min-width: 50px;
  width: auto;
  max-height: 450px;
}
figcaption {
  box-sizing: border-box;
  text-align: right;
  margin: 3px 0;
  font-family: "Actor", sans-serif;
  color: #4d4f52;
  font-size: smaller;
}
.grid img {
  /* width: 335px; */
  max-width: 100%;
}
.grid figcaption {
  width: 335px;
}

figure {
  width: 100%;
  overflow: scroll;
  margin: 0px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0px;
  break-inside: auto;
  text-align: left;
  word-break: initial;
}
table tr {
  border-top: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n),
thead {
  background-color: #f8f8f8;
}
table th {
  text-align: center;
  font-weight: bold;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  margin: 0;
  padding: 6px 13px;
}
table td {
  border: 1px solid #dfe2e5;
  margin: 0;
  padding: 6px 13px;
}
table th:first-child,
table td:first-child {
  margin-top: 0;
}
table th:last-child,
table td:last-child {
  margin-bottom: 0;
}

/* DEBUG USE */
/* * {
  border: 0.2px solid red;
} */
